{% macro product_img(filename, name, size=400, cls='', style='') %}
{%- if filename -%}
  {%- if filename.startswith('cld:') -%}
    {%- set pub_id = filename[4:] -%}
    {%- set cld_url = 'https://res.cloudinary.com/' ~ (config.get('CLOUDINARY_CLOUD_NAME','') or filename[4:].split('/')[0]) ~ '/image/upload/w_' ~ size ~ ',h_' ~ size ~ ',c_fill,q_auto,f_auto/' ~ pub_id -%}
    <img src="{{ cld_url }}" alt="{{ name }}" class="{{ cls }}" style="{{ style }}" loading="lazy">
  {%- else -%}
    <img src="{{ url_for('static', filename='uploads/products/' ~ filename) }}" alt="{{ name }}" class="{{ cls }}" style="{{ style }}" loading="lazy">
  {%- endif -%}
{%- else -%}
  <div class="pimg-ph">🥜</div>
{%- endif -%}
{% endmacro %}
